body {
    background-image: url('../tesoreria/fondo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333; /* Text color */
    font-family: Arial, sans-serif;
}

header {
    background-color: #f0f0f0; /* Header background color */
    padding: 20px;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-right: auto; /* Pushes the logo to the right */
}

.logo img {
    width: 100px; /* Adjust the width of the image as needed */
    height: auto;
}

.title {
    text-align: center; /* Aligns the title text to the left */
    flex-grow: 1;
}

.title h1 {
    margin: 0; /* Removes default margin for h1 */
}

.title h2 {
    margin-top: 5px; /* Adds some spacing between h1 and h2 */
    margin-bottom: 0; /* Removes default margin for h2 */
    color: #333;
}

.title h3 {
    margin-top: 5px; /* Adds some spacing between h1 and h2 */
    margin-bottom: 0; /* Removes default margin for h2 */
    color: #333;
}

h1 {
    margin: 0;
}

h2 {
    color: #f0f0f0;
}

h3 {
    color: #f0f0f0;
}

h4 {
    color: #f0f0f0;
}

p {
    color: #f0f0f0;
    text-align: justify;
}

section {
    padding: 20px;
}

.team-member {
    display: inline-block;
    margin: 30px;
    text-align: center;
}

.team-member img {
    width: 150px; /* Adjust as needed */
    border-radius: 50%; /* Makes the images round */
    margin-right: 30px;
    float: left;
}

.team-member p {
    margin-left: 140px; /* Adjust margin to make text align with image */
    text-align: justify;
}

.team-member .icon {
    position: absolute; /* Position the icon absolutely */
    top: 10px; /* Adjust top position */
    right: 10px; /* Adjust right position */
    color: #333; /* Adjust icon color */
}

.team-member a {
    display: block;
    margin-top: 5px;
    color: #007bff; /* Link color */
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #007bff; /* Link color */
    text-decoration: none;
}

footer {
    background-color: #fff; /* Footer background color */
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 600px; /* Set maximum width for content */
    margin: 0 auto; /* Center align content */
}

.footer-content h3 {
    margin-bottom: 10px;
    color: #333;
}

.footer-content p {
    margin-bottom: 5px;
    color: #333;
    text-align: center;
}

.whatsapp-button {
    display: inline-block;
    background-color: #25D366; /* WhatsApp button color */
    color: #fff; /* Text color */
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 15px;
}

.whatsapp-button i {
    margin-right: 5px;
}

.areas-container {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
}

.area {
    flex: 1;
    text-align: center;
    margin: 10px; /* Adjust spacing */
}

/* .area a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 5px;
}

.area a:hover {
    background-color: #333;
    color: #fff;
} */

.fecha p {
    color: lightcoral;
    text-align: right;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    color: #fff;
}
th {
    background-color: #f2f2f2;
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

tr td a {
    color: #007bff; /* Link color */
    text-decoration: none;
}

.menu-container {
    position: relative;
    display: inline-block;
}
.menu-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.deploy-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.deploy-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.deploy-menu a:hover {
    background-color: #f1f1f1;
}
.menu-container:hover .deploy-menu {
    display: block;
}
